<!DOCTYPE html>
<html>
  <head>
    <title>Startup</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Bootstrap CSS from a CDN. This way you don't have to include the bootstrap file yourself -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Your own stylesheet -->
   <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
   <style type="text/css">
     
body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px 0px 0px 0px;
}

h1{
  font-size: 3rem;
  color: #f8f8fb;
transition:2s;

}
h1:hover{
  transform:scale(1.1);
}
.buffer{

  height: 10rem;
}

}
.btn{
  font-weight: 700;
  border-radius: 400px;
  
}
.btn-primary{
  background-color:#F05F44;
  border-color:  #F05F44;
  transition: all 2s;
}
.btn:hover{
  transform: scale(1.1);
}
.btn-xl {
  padding: 1rem 2rem;
}
hr {
  border-color: #F05F44;
  max-width:100px;
}
     
   </style>
  </head>
  <body>
      <div class="container d-flex align-items-center justify-content-center h-100">
        <div class="row">
          
          <header class="text-center col-12">
          <h1 class="text-uppercase"> <strong>Website coming soon</strong></h1>
          </header>
          <div class="buffer col-12"></div>
          <section class="text-center col-12">
          <hr>
          <a href="https://mailchi.mp/a452914670ab/freepteclasses"><button class="btn btn-primary">Find out more</button>
          </a>
        </section>
        </div>
      </div>
    </body>
</html>
